<!--<button (click)="openModal1('mod1')" class="btn">Modal 1</button>-->

<div *ngIf="modal1State" class="row">
    <div class="col-xs-6 offset-xs-3 col-sm-6 offset-sm-3 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
      <div id="mod1" class="card">
        <div class="card-image">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="https://drscdn.500px.org/photo/274908681/q%3D80_m%3D1000/v2?user_id=30905011&webp=true&sig=431ddb91ce4e41816950e6140214caac0739c1f21053c1b30ba244afad2f7890"
                    class="img-fluid rounded mx-auto d-block"height="130px" width="130px">
                </div>
              </div>          
        </div>
        <div class="card-body">
          <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <p>¡Muchas gracias por tu colaboracón!</p>          
          <p><strong>Tus datos han sido enviados con éxito</strong></p>
          <p>Ya puedes cerrar tu navegador</p>  
            <button (click)="closeModal1('mod1');" class="btn btn-success">Aceptar</button>
            </div>
        </div>
      </div>
        <br>
      </div>
    </div>
</div>
  <div *ngIf="!modal1State" class="card">
    <div class="card-body">
    <h5 class="card-title text-center">Directorio FJC Distrito 8</h5>
    <form (ngSubmit)="onSubmit()" [formGroup]="frmRegistro" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control validate" id="nombre" formControlName="nombre">
      </div>

      <div class="form-group">
        <label for="apaterno">Apellido Paterno</label>
        <input type="text" class="form-control validate" id="apaterno" formControlName="apaterno">
      </div>

      <div class="form-group">
        <label for="amaterno">Apellido Materno</label>
        <input type="text" class="form-control validate" id="amaterno" formControlName="amaterno">
      </div>

      <div class="form-group">
        <label for="telefono">Telefono</label>
        <input type="number" class="form-control validate" id="telefono" minlength="10" maxlength="10" placeholder="10 dígitos" formControlName="telefono">
      </div>
   
      <div class="form-group">
        <label for="correo">Dirección de correo</label>
        <input type="email" class="form-control validate" id="correo" placeholder="correo@ejemplo.com"  formControlName="correo">
      </div>
    
      <div class="form-group">
        <label for="iglesia">Iglesia</label>
        <input type="text" class="form-control validate" id="iglesia" formControlName="iglesia">
      </div>
  
      <div class="form-group">
        <label for="sector">Sector</label>
        <select class="form-control validate" id="sector" pattern="1|2|3" formControlName="sector">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>

      <div class="row">
          <div class="col-xs-2 offset-xs-5 col-sm-2 offset-sm-5 col-md-2 offset-md-5 col-lg-2 offset-lg-5">
            <button type="submit" [disabled]="!frmRegistro.valid" class="btn btn-success">Enviar</button>
          </div>
      </div>
      <br>
    </form>
  </div>
</div>


